.title-expo{
    margin-bottom: 5rem;
}

.section-2{
    background-color: #E1E1E1
}

.section-3{
    background: #F0F0F0
}

.book-image{
    position: relative;
    bottom: 35px;
    height: 7rem;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-image-2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-custom{
    border-radius: 20px;
}